.main{
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    height: 130px;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    padding:10px;
    
  }
  .firsthalf{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .secondhalf{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    gap:30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: 'center';
    position: absolute;
        right: 0px;
  
  }

  .dishName{
    font-size: larger;
    font-weight: 500;

  }

  .description{
    max-width:'100%'; 
    display: inline-block;
    word-wrap: 'break-word';
  }

  .quantityButton{
    text-align: center;
    background-color: green;
    border-radius: 10px;
    color: white;
    margin: 5px;
    max-width: 150px;
    cursor: pointer;
  }

  .quantity{
    margin-left: 20px;
    margin-right: 20px;
  }

  .calories{
   padding-top: 25px;
    text-align: center;
    font-weight: 700;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-items: end;
    border-radius: 10px;
    
  }
  .vegSymbol{
    margin-top: 5px;
    margin-right: 5px;
    width: 15px;
     height: 15px;
     border: 1px solid green; 
     display: flex; 
     justify-content: center; 
    align-items: center;
  }

  .vegSymbolNon{
    margin-top: 5px;
    margin-right: 5px;
    width: 15px;
     height: 15px;
     border: 1px solid rgb(250, 2, 2); 
     display: flex; 
     justify-content: center; 
    align-items: center;
  }

  .circle{
    width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: green;
  }
  .circleNon{
    width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: rgb(244, 6, 6);
  }
  
  @media (max-width: 480px) {
    .main{
        height: auto
        
      }
  }

  @media screen and (max-width: 395px) {
    .quantityButton {
      max-width: 100px;
      font-size: 0.8rem;
      margin: 2px;
    }
    .description{
        max-width:'50px'; 
        width: 210px;
        word-wrap: 'break-word';
      }
      .calories{
        padding-top: 20px;
         text-align: center;
       }

       img {
        width: 70px;
        height: 70px;
        padding-right: 3px;
      }
      
      .secondhalf{
        padding: 10px;
        padding-top: 0;
        gap:10px;
      
      }

      .dishName{
        font-size: large;
        font-weight: 500;
        width: 200px;
      }
  }
  
  